* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #242424;
}

/*Cabeçalho*/
header {
	position: fixed;
	background-color: #151515;
	width: 100%;
	height: 80px;
	box-shadow: 0px 5px 20px black;
}

header #logo {
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p {
	color: #6E0D6A;
	font-size: 25px;
	text-shadow: 0 0 5px #000;
	font-family: sans-serif;
}

/*Menu lateral*/
header #menuicon{
	width: 35px;
	height: 35px;
}

header input {
	box-shadow: none;
}

#check {
	display: none;
}

#icone {
	margin-top: 22px;
	margin-left: 25px;

	cursor: pointer;
	position: absolute;
	z-index: 1;
}

.barra {
	height: 100%;
	width: 300px;
	margin-top: 2px;
	position: fixed;

	background-color: #151515;
	box-shadow: 0px 2px 0 black;
	font-family: sans-serif;
	
	transition: all .2s linear;
	left: -500px;
}

#creditos {
	position: fixed;
	bottom: 0;
	margin-bottom: 100px;
	font-size: 15px;
	text-align: center;
}

#manutencao img{
	width: 15em;
	height: 15em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 240px;
}

nav {
	width: 100%;
	position: absolute;
}

nav a {
	text-decoration: none;
}

.link {
	background-color: rgb(20, 20, 20);
	padding: 20px;
	font-size: 12pt;
	transition: all .2s linear;
	color: #bb28b6;
	text-shadow: 0 0 5px #000;
	font-weight: bold;
	border-radius: 15px;
	margin: 5px;
}

.link:hover {
	background-color: #660063;
}

input[type="checkbox"]:checked ~ div.barra{
	transform: translateX(500px);
}